!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title=page_title(yield(:title))
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header#header.navbar.navbar-fixed-top.navbar-inverse
      .container
        %p#logo=link_to page_title.gsub('|', '').strip!, root_path
        =render '/shared/header'

    %main.container
      #flash.container
        -flash.each do |msg_type, msg|
          %p.alert{class: "alert-#{msg_type}"}=msg

      %h1=yield(:title)
      = yield

    %footer#footer.clearfix
      .container
        =render '/shared/footer'

    =debug(params) if Rails.env.development?
